{% extends 'partials/base.html' %} {% block content %}
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row mt-0 mt-md-4">
            {% include 'patient/sidebar.html' %}

            <div class="col-lg-9 col-md-8 col-12">
                <h4 class="mb-0 mb-4 fw-bold">Payments</h4>
                <ul class="list-group list-group-flush">
                    {% for n in notifications %}
                        <li class="list-group-item p-2 shadow rounded-3 mb-3">
                            <div class="d-flex">
                                <div class="ms-3 mt-2">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div>
                                            <p class="mb-0 fs-5">{{n.type}}</p>
                                        </div>
                                    </div>
                                    <div class="mt-2">
                                        <p class="mt-1">
                                            <span class="me-2 fw-bold"> Date: <span class="fw-light">{{n.date}}</span> </span>
                                        </p>
                                        <p>
                                            <a class="btn btn-outline-secondary btn-sm" href="{% url 'patient:mark_noti_seen' n.id %}">Mark as Seen <i class="fas fa-inbox ms-2"></i></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
