{% extends 'partials/base.html' %} {% block content %}
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row mt-0 mt-md-4">
            {% include 'doctor/sidebar.html' %}

            <div class="col-lg-9 col-md-8 col-12">
                <h4 class="mb-0 mb-4 fw-bold">Payments</h4>
                <div class="card mb-4 mt-5">
                    <div class="table-responsive overflow-y-hidden">
                        <table class="table mb-0 text-nowrap table-hover table-centered text-nowrap">
                            <thead class="table-light">
                                <tr>
                                    <th>Payment ID</th>
                                    <th>Appointment ID</th>
                                    <th>Patients</th>
                                    <th>Service</th>
                                    <th>Amount</th>
                                    <th>status</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for p in payments %}
                                    <tr>
                                        <td>{{p.billing_id}}</td>
                                        <td>{{p.appointment.appointment_id}}</td>
                                        <td>{{p.appointment.patient.full_name}}</td>
                                        <td>{{p.appointment.service.name}}</td>
                                        <td>₹{{p.total}}</td>
                                        <td>{{p.status}}</td>
                                    </tr>
                                {% endfor %}
                                    
                              
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
