{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
    <section>
        <div class="container">
            <div class="row justify-content-between align-items-center mb-5 p-4">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="position-relative exloi">
                        <div class="position-relative pe-4 pb-4">
                            <img
                                style="height: 650px; width: 100%"
                                src="https://img.freepik.com/free-photo/people-working-together-animation-studio_23-2149208028.jpg?t=st=1714501626~exp=1714505226~hmac=1c0146f69cf270781c5aea73a26fc255d8b284e2c27604a9367e75a4f578c369&w=740"
                                class="img-fluid rounded-4 object-fit-cover"
                                alt=""
                            />
                        </div>
                    </div>
                </div>

                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
                    <div class="position-relative exloi py-lg-0 py-4">
                        <div class="exloi-caption">
                            <div class="text-success d-inline-flex rounded-4 mb-2 fw-bold"><span>About Us</span></div>
                            <h2 class="fw-bold mb-3 fs-1">Who We're & Mission</h2>
                            <p class="mb-0 fs-5 fw-light mb-3">
                                <b>Lorem ipsum</b> dolor sit, amet consectetur adipisicing elit. Commodi, quaerat labore rerum nemo saepe laudantium deleniti nisi vitae similique tenetur, fuga beatae, delectus quod accusamus tempora sed. Et, perspiciatis! Sit tempore odio aliquam fugit nesciunt beatae
                                dignissimos eius impedit, numquam nisi unde expedita minus necessitatibus corrupti optio consectetur. Perferendis ducimus possimus magni quidem? Distinctio veniam ipsam dicta aspernatur quisquam adipisci in, ut ad omnis sed accusantium possimus ab est reiciendis
                                asperiores rem. Quaerat optio reiciendis et voluptatem labore temporibus architecto consectetur laborum, ab enim placeat consequatur doloremque, nulla esse commodi aperiam dignissimos dicta autem? Illo quo tenetur quam illum. Laboriosam!
                            </p>
                            <p class="fs-5 mt-4">VCARE INC. is a leading healthcare provider in India, committed to delivering world-class medical services with a patient-centric approach. Our mission is to make quality healthcare accessible and affordable for all. With a network of experienced doctors, advanced technology, and a compassionate team, we strive to improve the health and well-being of communities across India. Trust VCARE INC. for ethical, transparent, and innovative healthcare solutions tailored to your needs.</p>
                            <p class="mb-0 fs-5 fw-light">
                                <i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, aliquam perspiciatis cum soluta accusantium recusandae. Laudantium ipsa, alias quis aperiam amet ipsam corporis iusto! Dignissimos molestias quasi quas obcaecati cupiditate?</i>
                            </p>
                            <div class="mt-4">
                                <a href="#" class="btn btn-primary btn-lg fw-bold rounded">Meet Our Team <i class="fas fa-arrow-right ms-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}